// FORMULAIRES
//-----------------------------------------------------
// CLASS DISPONIBLES
// .input-radio => pour boutons radio
//-----------------------------------------------------
// VARIABLES
$label-margin: 0.2rem 0 0 0.5rem;

$input-height: 50px;
$input-padding: 0;
$input-width: 90%;
$input-margin: 0.5rem 0.5rem 0.5rem 0.5rem;

$input-radio-margin-left: 150px;

$input-select-width: 100%;
$input-select-height: 50px;
$input-select-padding-left: 10px;
//-------------------------------------------------------------------------------------------------------------
// MODULE SPECIFICATIONS
form {
	input {
	}
	:not([type="radio"], [type="checkbox"], [type="submit"], [type="reset"], label, div) {
		height: $input-height;
		padding: $input-padding;
		width: $input-width;
		margin: $input-margin;
	}
	label {
		margin: $label-margin;
	}

	.input-radio {
		label:not(:first-of-type) {
			margin-left: $input-radio-margin-left;
		}
	}

	select {
		width: $input-select-width;
		height: $input-select-height;
		padding-left: $input-select-padding-left;
	}
	[type="submit"] {
		width: $button-width;
		height: $button-height;
		background: $button-background-primary;
		color: $button-color-primary;
		margin: $button-margin;
		border: $button-border;
		border-radius: $button-border-radius;
		margin: $button-margin;
		padding: $button-padding;
		font-family: $button-font;
		font-size: $button-font-size-default;
		box-shadow: $button-box-shadow;
		&:hover {
			background: $button-background-primary-hover;
			color: $button-color-primary-hover;
			box-shadow: $button-box-shadow-hover;
		}
	}
	[type="reset"] {
		width: $button-width;
		height: $button-height;
		background: $button-background-default;
		color: $button-color-default;
		margin: $button-margin;
		border: $button-border;
		border-radius: $button-border-radius;
		margin: $button-margin;
		padding: $button-padding;
		font-family: $button-font;
		font-size: $button-font-size-default;
		box-shadow: $button-box-shadow;
		&:hover {
			background: $button-background-default-hover;
			color: $button-color-default-hover;
			box-shadow: $button-box-shadow-hover;
		}
	}
}
