//  HELPERS
//----------------------------------------------
// CLASS DISPONIBLES
//----------------------------------------------
// .display-block => display
// .display-inlineblock
// .display-inline
// .display-none
// .text-center => text-align: center
// .text-left
// .text-right
// .text-justify
// .center => centre un block dans un block grâce à margin: auto;
// .line-separator => ligne de séparation à largeur fixe
// .line-separator-auto => ligne de séparation de largeur auto
//------------------------------------------------
// VARIABLES
//----------------------------------------------
//lineSeparator
$lineSeparatorWith: 90%;
$lineSeparatorThick: 1px;
$lineSeparatorMarginTop: 2rem;
$lineSeparatorMarginBottom: 2rem;

$lineSeparatorColor: $color-neutral-2;
//-----------------------------------------------
// MODULE SPECIFICATIONS

//class active pour les liens

// .isActif {
// 	background: $colorHot;
// 	color: $colorLight;
// 	&:hover {
// 		background: $colorDark;
// 		color: $colorHot;
// 	}
// }

// DISPLAY
.display-block {
	display: block;
}
.display-inline-block {
	display: inline-block;
}
.display-inline {
	display: inline;
}
.display-none {
	display: none;
}
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.center {
	margin: auto;
}
.line-separator {
	border-bottom: $lineSeparatorThick solid;
	width: $lineSeparatorWith;
	margin: auto;
	margin-top: $lineSeparatorMarginTop;
	margin-bottom: $lineSeparatorMarginBottom;
	color: $lineSeparatorColor;
}
.line-separator-auto {
	border-bottom: $lineSeparatorThick solid;
	width: auto;
	margin-top: $lineSeparatorMarginTop;
	margin-bottom: $lineSeparatorMarginBottom;
	color: $lineSeparatorColor;
}
.is-actif {
	background-color: $color-neutral-1;
}
