// IMAGES
//---------------------------------------------------------------------
// CLASS DISPONIBLES
// .stretch => image étendie dans son container
// .thumbnails => galerie images
// .float-left
// .float-right
// .float-container-clear => container englobant l'ensemble du float pour replacer ce qui suit dans le flux
//------------------------------------------------------------------------
// VARIABLES
// $image-margin: 1rem 0 1rem 0;
$thumbnails-colonnes: 3;
$thumbnails-gap: 0.8rem 0.8rem;
$image-zoom-hover: 1.04;
$image-thumbnails-margin: 0.5rem;
$image-float-left-margin: 0 1rem 1rem 0;
$image-float-right-margin: 0 0 1rem 1rem;
$image-float-width: 40%;
//-------------------------------------------------------------------------
// MODULE SPECIFICATIONS

img {
	&.stretch {
		width: 100%;
		height: 100%;
	}
	&.zoom:hover {
		transform: scale($image-zoom-hover);
		transition: all 500ms ease-in-out;
	}
	&.zoom {
		transition: all 300ms ease-in-out;
	}
}

.thumbnails {
	display: grid;
	grid-template-columns: repeat($thumbnails-colonnes, 1fr);
	gap: $thumbnails-gap;
	> * {
		grid-row: span 1;
		width: 100%;
		height: 100%;
	}
}

.float-left {
	float: left;
	width: $image-float-width;
	margin: $image-float-left-margin;
}
.float-right {
	float: right;
	width: $image-float-width;
	margin: $image-float-right-margin;
}
.float-container-clear:after {
	content: "";
	display: block;
	clear: both;
}
