// TABLEAU
//-------------------------------------
// CLASS DISPONIBLES
// .alternate => background différent une ligne sur deux
//-------------------------------------
// VARIABLES

$table-width: 100%;
$table-margin: auto;
$table-border: solid 1px $color-text;
$table-border-collapse: collapse;

// Soit bordure complète soit du bas
$table-entete-border: solid 1px $color-text;
// $table-entete-border-bottom: solid 1px $color-text;

// TITRE DU TABLEAU
$table-title-align: left;
$table-title-font: $font-text;

// ENTETE TABLEAU
$table-entete-hauteur: 4rem;
$table-entete-alignement-horizontal-text: center;
$table-entete-alignement-vertical-text: middle;
$table-entete-padding: 15px;
$table-entete-font: $font-header;

// CELULLES TABLEAU
$table-celulle-border: solid 1px $color-text;
$table-celulle-border-bottom: solid 1px $color-text;
$table-celulle-height: 2rem;
$table-celulle-text-align: left;
$table-celulle-vertical-align: middle;
$table-celulle-padding: 15px;
$table-celulle-color: $color-text;
$table-celulle-font: $font-header;

// COLONNES TABLEAU <th>
$table-colonne-background: $color-neutral-1;

// LIGNES TABLEAU <tr>
$table-ligne-background: $color-neutral-1;
// 1 LIGNE SUR 2 TABLEAU
$table-ligne-background-1-2: darken($color-neutral-1, 20%);

// HOVER
// SOIT HOVER SUR LES LIGNES OU MISE EN EVIDENCE UNE LIGNE SUR DEUX
$table-ligne-background-hover: darken($color-neutral-1, 30%);
$table-ligne-color-hover: lighten($color-text, 80%);
$table-colonne-background-hover: darken($color-neutral-1, 30%);
$table-colonne-color-hover: lighten($color-text, 80%);
$table-ligne-background-1-2-hover: darken($color-neutral-1, 30%);
$table-ligne-color-hot-2-hover: lighten($color-text, 80%);

//-------------------------------------------------------------------------------------------------------------
// MODULE SPECIFICATIONS
table {
	width: $table-width;
	margin: $table-margin;
	border: $table-border;
	border-collapse: $table-border-collapse;

	caption {
		text-align: $table-title-align;
		font-family: $table-title-font;
	}
	th {
		border: $table-border;
		// border-bottom: $table-border;
		height: $table-entete-hauteur;
		text-align: $table-entete-alignement-horizontal-text;
		vertical-align: $table-entete-alignement-vertical-text;
		padding: $table-entete-padding;
		font-family: $table-entete-font;
		&:hover {
			// background-color: aqua;
			// color: white;
		}
	}

	td {
		border: $table-celulle-border;
		// border-bottom: $table-celulle-border-bottom;
		height: $table-celulle-height;
		text-align: $table-celulle-text-align;
		vertical-align: $table-celulle-vertical-align;
		padding: $table-celulle-padding;
		font-family: $table-celulle-font;
		color: $table-celulle-color;
		&td:hover {
			// background: $table-colonne-background-hover;
			// color: $table-colonne-color-hover;
		}
	}

	// HOVER
	// SOIT HOVER SUR LES LIGNES OU  SUR LES COLONNES MAIS PAS LES DEUX MISE EN EVIDENCE UNE LIGNE SUR DEUX
	tr {
		background-color: $table-ligne-background;
		&:hover {
			color: $table-ligne-color-hover;
			background: $table-ligne-background-hover;
		}
	}
	&.alternate {
		tr:nth-child(even) {
			background-color: $table-ligne-background-1-2;
		}
		tr:hover {
			background: $table-ligne-background-1-2-hover;
			color: $table-ligne-color-hot-2-hover;
		}
	}
}
