// TYPOGRAPHIE

// METHODE 1 PAR TELECHARGEMENT DE LA POLICE DANS LE PROJET
//----------------------------------------------------------
// Pour pouvoir intégrer notre propre police (ici Futura)
// permet de définir notre propre font family
// police doit être transformée pour le format web (format woff ou woff2) via fontsquirrel p exemple
// il faut l'importer mais on va utiliser une variable pour déclarer la typographie
// @font-face {
// 	font-family: "futura"; // famille que l'on va déclarer dans notre projet
// 	src: url("./../../../fonts/futura.woff2") format("woff2"), url("./../../fonts/futura.woff") format("woff"); // chemin vers notre typo d'abord la plus récente
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: "aller"; // famille que l'on va déclarer dans notre projet
// 	src: url("./../../../fonts/aller.woff2") format("woff2"), url("./../../../fonts/aller.woff") format("woff"); // chemin vers notre typo d'abord la plus récente
// 	font-weight: normal;
// 	font-style: normal;
// }

// METHODE 2 PAR CDN APPEL D'UNE POLICE EN LIGNE
//------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap");

// ICONES
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

//----------------------------------------------------------------------
// CLASS DISPONIBLES
// .h1,.h2,.h3,.h4,.h5,.h6 => typo comme h1,......
// .code => <code></code>
// .mark => <mark></mark>
// .bold => <strong></strong>
// .italic => en italic
// .underlined => soulignement
// .link => <a></a> liens
// .disabled => liens sans effet hover
// .active => liens avec effet hover fixe
// // TITRES - SOUS-TITRES - PARAGRAPHES
// .title-1 => typo titre niveau 1
// .title-2
// .title-3
// .sub-title-1 => typo sous titre niveau 1
// .sub-title-2
// .sub-title-3
// .p-1  => typo paragraphe niveau 1
// .p-2
// .p-3
// .font-text => typo de type font-text
// .font-header => typo de type font-header
// .text-color-hot => couleur texte de la couleur : color-hot
// .text-color-2
// .text-color-1
// .text-color-text
// .text-color-neutral-1
// .text-color-neutral-2
// .icon-s => taille icone fontawesome = font-size: x px;
// .icon-l
// .icon-xl

//----------------------------------------------------------------------
// VARIABLES
// DEFAULT VALUES
// P
// $font-text: "aller";
// $font-header: "futura";
// $font-text: "Source Sans Pro", sans serif;
// $font-header: "Open Sans", sans-serif;
$font-text: "Source Sans Pro", sans-serif;
$font-header: "Merriweather Sans", sans-serif;

// DEFAULT BODY
$font-color-default: $color-text;
$font-weight-default: 300;
$font-size-default: 1.1em;
$line-height-default: 1.65;

// HEADERS ////////////////////////////////////////////////////
// DEFAULT HEADERS
$font-header-default: $font-header;
$font-header-color-default: $color-text;
$font-header-weight-default: 900;
$font-header-letter-spacing-default: 0rem;
$font-header-margin-default: 0 0 0.7rem 0;

// h1
$font-h1: $font-header-default;
$font-color-h1: $font-header-color-default;
$font-weight-h1: $font-header-weight-default;
$letter-spacing-h1: $font-header-letter-spacing-default;
$margin-h1: $font-header-margin-default;
$font-size-h1: 3rem;
$line-height-h1: 1.5;
//h2
$font-h2: $font-header-default;
$font-color-h2: $font-header-color-default;
$font-weight-h2: $font-header-weight-default;
$letter-spacing-h2: $font-header-letter-spacing-default;
$margin-h2: $font-header-margin-default;
$font-size-h2: 2.5rem;
$line-height-h2: 1.5;
//h3
$font-h3: $font-header-default;
$font-color-h3: $font-header-color-default;
$font-weight-h3: $font-header-weight-default;
$letter-spacing-h3: $font-header-letter-spacing-default;
$margin-h3: $font-header-margin-default;
$font-size-h3: 2rem;
$line-height-h3: 1.5;
//h4
$font-h4: $font-header-default;
$font-color-h4: $font-header-color-default;
$font-weight-h4: $font-header-weight-default;
$letter-spacing-h4: $font-header-letter-spacing-default;
$margin-h4: $font-header-margin-default;
$font-size-h4: 1.7rem;
$line-height-h4: 1.2;
//h5
$font-h5: $font-header-default;
$font-color-h5: $font-header-color-default;
$font-weight-h5: $font-header-weight-default;
$letter-spacing-h5: $font-header-letter-spacing-default;
$margin-h5: $font-header-margin-default;
$font-size-h5: 1.5rem;
$line-height-h5: 1.2;
//h6
$font-h6: $font-header-default;
$font-color-h6: $font-header-color-default;
$font-weight-h6: $font-header-weight-default;
$letter-spacing-h6: $font-header-letter-spacing-default;
$margin-h6: $font-header-margin-default;
$font-size-h6: 1.3rem;
$line-height-h6: 1.2;
///////////////////////////////////////////////////////////////////////////////////////
//
// TITRES - SOUS-TITRES - PARAGRAPHES
// VARIABLES TITRES DEFAULT
$font-title-font-default: $font-text;
$font-title-color-default: $color-text;
$font-title-weight-default: 500;
$font-title-letter-spacing-default: 0rem;
$font-title-margin-default: 0 0 0.7rem 0;
$font-title-line-height-default: 1.65;
$font-title-style-default: normal;
$font-title-text-decoration-default: none;
// VARIABLES TITRE-1
$title-1-font-size: 1.35rem;

$title-1-font: $font-title-font-default;
$title-1-color: $font-title-color-default;
$title-1-font-weight: $font-title-weight-default;
$title-1-letter-spacing: $font-title-letter-spacing-default;
$title-1-margin: $font-title-margin-default;
$title-1-line-height: $font-title-line-height-default;
$title-1-style: $font-title-style-default;
$title-1-text-decoration: $font-title-text-decoration-default;
// VARIABLES TITRE-2
$title-2-font-size: 1.25rem;

$title-2-font: $font-title-font-default;
$title-2-color: $font-title-color-default;
$title-2-font-weight: $font-title-weight-default;
$title-2-letter-spacing: $font-title-letter-spacing-default;
$title-2-margin: $font-title-margin-default;
$title-2-line-height: $font-title-line-height-default;
$title-2-style: $font-title-style-default;
$title-2-text-decoration: $font-title-text-decoration-default;
// VARIABLES TITRE-3
$title-3-font-size: 1.19rem;

$title-3-font: $font-title-font-default;
$title-3-color: $font-title-color-default;
$title-3-font-weight: $font-title-weight-default;
$title-3-letter-spacing: $font-title-letter-spacing-default;
$title-3-margin: $font-title-margin-default;
$title-3-line-height: $font-title-line-height-default;
$title-3-style: $font-title-style-default;
$title-3-text-decoration: $font-title-text-decoration-default;
// VARIABLES SOUS TITRES DEFAULT
$font-sub-title-font-default: $font-text;
$font-sub-title-color-default: $color-text;
$font-sub-title-weight-default: 300;
$font-sub-title-letter-spacing-default: 0rem;
$font-sub-title-margin-default: 0 0 0.7rem 0;
$font-sub-title-line-height-default: 1.65;
$font-sub-title-style-default: italic;
$font-sub-title-text-decoration-default: none;
// VARIABLES SOUS TITRES 1
$sub-title-1-font-size: 1.4rem;

$sub-title-1-font: $font-sub-title-font-default;
$sub-title-1-color: $font-sub-title-color-default;
$sub-title-1-font-weight: $font-sub-title-weight-default;
$sub-title-1-line-height: $font-sub-title-line-height-default;
$sub-title-1-letter-spacing: $font-sub-title-letter-spacing-default;
$sub-title-1-margin: $font-sub-title-margin-default;
$sub-title-1-style: $font-sub-title-style-default;
$sub-title-1-text-decoration: $font-sub-title-text-decoration-default;
// VARIABLES SOUS TITRES 2
$sub-title-2-font-size: 1.15rem;

$sub-title-2-font: $font-sub-title-font-default;
$sub-title-2-color: $font-sub-title-color-default;
$sub-title-2-font-weight: $font-sub-title-weight-default;
$sub-title-2-line-height: $font-sub-title-line-height-default;
$sub-title-2-letter-spacing: $font-sub-title-letter-spacing-default;
$sub-title-2-margin: $font-sub-title-margin-default;
$sub-title-2-style: $font-sub-title-style-default;
$sub-title-2-text-decoration: $font-sub-title-text-decoration-default;
// VARIABLES SOUS TITRES 3
$sub-title-3-font-size: 1rem;

$sub-title-3-font: $font-sub-title-font-default;
$sub-title-3-color: $font-sub-title-color-default;
$sub-title-3-font-weight: $font-sub-title-weight-default;
$sub-title-3-line-height: $font-sub-title-line-height-default;
$sub-title-3-letter-spacing: $font-sub-title-letter-spacing-default;
$sub-title-3-margin: $font-sub-title-margin-default;
$sub-title-3-style: $font-sub-title-style-default;
$sub-title-3-text-decoration: $font-sub-title-text-decoration-default;
// VARIABLES PARAGRAPHE DEFAULT
$font-p-font-default: $font-text;
$font-p-color-default: $color-text;
$font-p-weight-default: 300;
$font-p-letter-spacing-default: 0rem;
$font-p-margin-default: 0 0 0.7rem 0;
$font-p-line-height-default: 1.65;
$font-p-style-default: normal;
$font-p-text-decoration-default: none;
// VARIABLES P-1
$p-1-font-size: 1.2rem;

$p-1-font: $font-p-font-default;
$p-1-color: $font-p-color-default;
$p-1-font-weight: $font-p-weight-default;
$p-1-line-height: $font-p-line-height-default;
$p-1-letter-spacing: $font-p-letter-spacing-default;
$p-1-margin: $font-p-margin-default;
$p-1-style: $font-p-style-default;
// VARIABLES P-2
$p-2-font-size: 1rem;

$p-2-font: $font-p-font-default;
$p-2-color: $font-p-color-default;
$p-2-font-weight: $font-p-weight-default;
$p-2-line-height: $font-p-line-height-default;
$p-2-letter-spacing: $font-p-letter-spacing-default;
$p-2-margin: $font-p-margin-default;
$p-2-style: $font-p-style-default;
// VARIABLES P-3
$p-3-font-size: 0.9rem;

$p-3-font: $font-p-font-default;
$p-3-color: $font-p-color-default;
$p-3-font-weight: $font-p-weight-default;
$p-3-line-height: $font-p-line-height-default;
$p-3-letter-spacing: $font-p-letter-spacing-default;
$p-3-margin: $font-p-margin-default;
$p-3-style: $font-p-style-default;

//CODE
$code-color: $color-neutral-2;
$code-background: $color-neutral-1;
$code-padding: 0.3em;
$code-border: $color-neutral-2 1px solid;
$code-border-radius: $border-radius-default;

// MARK
// L'élément HTML <mark> représente un texte marqué ou surligné à cause de sa pertinence dans le contexte.
// Il peut par exemple être utilisé afin d'indiquer les correspondances d'un mot-clé recherché au sein d'un document.
$mark-weight: 800;
$mark-color: $color-text;
$mark-background: pink;

// STRONG
// L'élément HTML <strong> indique que le texte a une importance particulière ou un certain sérieux voire un caractère urgent.
// Cela se traduit généralement par un affichage en gras.
$strong-weight: 600;
$strong-color: $color-text;

// ITALIC
$italic-style: italic;

// UNDERLINED
$underlined-style: solid 1px;

//LINKS
$link-color: $color-text;
$link-color-hover: $color-hot; //lighten($link-color, 35%);
$link-decoration: none;
$link-hover-decoration: none;
$link-background: none;

// BLOQUEQUOTE
//L'élément <blockquote> (qui signifie bloc de citation) indique que le texte contenu dans l'élément est une citation longue.
//Le texte est généralement affiché avec une indentation (voir les notes ci-après).
//Une URL indiquant la source de la citation peut être donnée grâce à l'attribut cite
//tandis qu'un texte représentant la source peut être donné via l'élément <cite>.
$q-color: $color-text;
$q-font: $font-header;
$q-font-style: italic;
$q-border-left: solid 2px;
$q-margin-left: 2rem;
$q-padding-left: 1rem;

// ICONES
$icon-s: 10px;
$icon-l: 25px;
$icon-xl: 35px;
$icon-xxl: 50px;

//-------------------------------------------------------------------------------------------------------------
// MODULE DEFAULT SPECIFICATIONS
//-------------------------------------------------------------------------------------------------------------
body {
	font-family: $font-text;
	font-size: $font-size-default;
	color: $font-color-default;
	line-height: $line-height-default;
	font-weight: $font-weight-default;
}

// HEADERS
h1,
.h1 {
	font-family: $font-h1;
	font-size: $font-size-h1;
	font-weight: $font-weight-h1;
	color: $font-color-h1;
	line-height: $line-height-h1;
	margin: $margin-h1;
	letter-spacing: $letter-spacing-h1;
}
h2,
.h2 {
	font-family: $font-h2;
	font-size: $font-size-h2;
	font-weight: $font-weight-h2;
	color: $font-color-h2;
	line-height: $line-height-h2;
	margin: $margin-h2;
	letter-spacing: $letter-spacing-h2;
}
h3,
.h3 {
	font-family: $font-h3;
	font-size: $font-size-h3;
	font-weight: $font-weight-h3;
	color: $font-color-h3;
	line-height: $line-height-h3;
	margin: $margin-h3;
	letter-spacing: $letter-spacing-h3;
}
h4,
.h4 {
	font-family: $font-h4;
	font-size: $font-size-h4;
	font-weight: $font-weight-h4;
	color: $font-color-h4;
	line-height: $line-height-h4;
	margin: $margin-h4;
	letter-spacing: $letter-spacing-h4;
}
h5,
.h5 {
	font-family: $font-h5;
	font-size: $font-size-h5;
	font-weight: $font-weight-h5;
	color: $font-color-h5;
	line-height: $line-height-h5;
	margin: $margin-h5;
	letter-spacing: $letter-spacing-h5;
}
h6,
.h6 {
	font-family: $font-h6;
	font-size: $font-size-h6;
	font-weight: $font-weight-h6;
	color: $font-color-h6;
	line-height: $line-height-h6;
	margin: $margin-h6;
	letter-spacing: $letter-spacing-h6;
}

// CODE -------------------
code,
.code {
	color: $code-color;
	background: $code-background;
	padding: $code-padding;
	border: $code-border;
	border-radius: $code-border-radius;
}
// MARK
mark,
.mark {
	font-weight: $mark-weight;
	color: $mark-color;
	background-color: $mark-background;
}
// STRONG ------------------
strong,
.bold {
	font-weight: bold;
	color: $strong-color;
}
// ITALIC ------------------
.italic {
	font-style: $italic-style;
}
// UNDERLINED ---------------
.underlined {
	border-bottom: $underlined-style;
}
// LINKS ------------------
a,
.link {
	color: $link-color;
	text-decoration: $link-decoration;
	&:hover:not(.disabled),
	&.active {
		color: $link-color-hover;
		text-decoration: $link-hover-decoration;
		i {
			color: $link-color-hover;
		}
	}
}
// TITRES - SOUS-TITRES - PARAGRAPHES

.title-1 {
	font-family: $title-1-font;
	color: $title-1-color;
	font-size: $title-1-font-size;
	font-weight: $title-1-font-weight;
	line-height: $title-1-line-height;
	letter-spacing: $title-1-letter-spacing;
	margin: $title-1-margin;
	font-style: $title-1-style;
	text-decoration: $title-1-text-decoration;
}
.title-2 {
	font-family: $title-2-font;
	color: $title-2-color;
	font-size: $title-2-font-size;
	font-weight: $title-2-font-weight;
	line-height: $title-2-line-height;
	letter-spacing: $title-2-letter-spacing;
	margin: $title-2-margin;
	font-style: $title-2-style;
	text-decoration: $title-2-text-decoration;
}
.title-3 {
	font-family: $title-3-font;
	color: $title-3-color;
	font-size: $title-3-font-size;
	font-weight: $title-3-font-weight;
	line-height: $title-3-line-height;
	letter-spacing: $title-3-letter-spacing;
	margin: $title-3-margin;
	font-style: $title-3-style;
	text-decoration: $title-3-text-decoration;
}
.sub-title-1 {
	font-family: $sub-title-1-font;
	color: $sub-title-1-color;
	font-size: $sub-title-1-font-size;
	font-weight: $sub-title-1-font-weight;
	line-height: $sub-title-1-line-height;
	letter-spacing: $sub-title-1-letter-spacing;
	margin: 0 0 0.7rem 0;
	font-style: $sub-title-1-style;
	text-decoration: $sub-title-1-text-decoration;
}
.sub-title-2 {
	font-family: $sub-title-2-font;
	color: $sub-title-2-color;
	font-size: $sub-title-2-font-size;
	font-weight: $sub-title-2-font-weight;
	line-height: $sub-title-2-line-height;
	letter-spacing: $sub-title-2-letter-spacing;
	margin: 0 0 0.7rem 0;
	font-style: $sub-title-2-style;
	text-decoration: $sub-title-2-text-decoration;
}
.sub-title-3 {
	font-family: $sub-title-3-font;
	color: $sub-title-3-color;
	font-size: $sub-title-3-font-size;
	font-weight: $sub-title-3-font-weight;
	line-height: $sub-title-3-line-height;
	letter-spacing: $sub-title-3-letter-spacing;
	margin: 0 0 0.7rem 0;
	font-style: $sub-title-2-style;
	text-decoration: $sub-title-3-text-decoration;
}
.p-1 {
	font-family: $p-1-font;
	color: $p-1-color;
	font-size: $p-1-font-size;
	font-weight: $p-1-font-weight;
	line-height: $p-1-line-height;
	letter-spacing: $p-1-letter-spacing;
	margin: $p-1-margin;
	font-style: $p-1-style;
}
.p-2 {
	font-family: $p-2-font;
	color: $p-2-color;
	font-size: $p-2-font-size;
	font-weight: $p-2-font-weight;
	line-height: $p-2-line-height;
	letter-spacing: $p-2-letter-spacing;
	margin: $p-2-margin;
	font-style: $p-2-style;
}
.p-3 {
	font-family: $p-3-font;
	color: $p-3-color;
	font-size: $p-3-font-size;
	font-weight: $p-3-font-weight;
	line-height: $p-3-line-height;
	letter-spacing: $p-3-letter-spacing;
	margin: $p-3-margin;
	font-style: $p-3-style;
}
// BLOQUEQUOTE
blockquote,
q {
	color: $q-color;
	font-family: $q-font;
	font-style: $q-font-style;
	border-left: $q-border-left;
	margin-left: $q-margin-left;
	padding-left: $q-padding-left;
}

// COULEURS TYPO
.text-color-hot {
	color: $color-hot;
}
.text-color-2 {
	color: $color-2;
}
.text-color-1 {
	color: $color-1;
}
.text-color-text {
	color: $color-text;
}
.text-color-neutral-1 {
	color: $color-neutral-1;
}
.text-color-neutral-2 {
	color: $color-neutral-2;
}

// HELPERS TYPO

.font-text {
	font-family: $font-text;
}
.font-header {
	font-family: $font-header;
}

.icon-s {
	font-size: $icon-s;
}
.icon-l {
	font-size: $icon-l;
}
.icon-xl {
	font-size: $icon-xl;
}
.icon-xxl {
	font-size: $icon-xxl;
}
