@import "./tempelize/scss/index.scss";

// DISPOSITION GLOBALE
.container-principal {
	// background: black;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 25px;
	.container-secondaire {
		// background: red;
		width: 98%;
		margin: auto;
		margin-top: 100px;
		margin-bottom: 100px;
		.container-contenu {
			// background: green;
			width: 95%;
			margin: auto;
			margin-top: 100px;
			padding: 1rem;
		}
		.container-footer {
			// background: yellow;
			width: 100%;
			padding-left: 0.5rem;
		}
	}
}
.navigation-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	nav {
		ul {
			margin: 0 0.5rem 0 0.5rem;
			li {
				a {
					padding: 0.5rem;
				}
			}
		}
	}

	ul {
		margin: 0 0.5rem 0 0.5rem;
		padding-right: 1rem;
		li {
			a {
				li {
				}
			}
		}
	}
}
.bas-de-page {
	ul {
		li {
			padding: 0;
			margin-right: 0;
		}
	}
}

.design {
	margin-right: 0;
}

.background-special {
	background: radial-gradient($color-3 40%, $color-text);
}
.background-special-2 {
	background: linear-gradient($color-3, $color-text 95%);
}

////////////////////////////////////////////////////
// HELPERS
//////////////////////////////////////////////////
.is-actif {
	background-color: $color-neutral-1;
	color: $color-text;
}
