@import "./tempelize/scss/index.scss";
// .grandparent {
// 	height: 500px;
// 	display: flex;
// 	background: black;
// 	justify-content: center;
// 	.parent {
// 		width: 90%;
// 		background: red;
// 		margin: 5rem 2rem 2rem 2rem;
// 		display: flex;
// 		justify-content: center;
// 		.enfant {
// 			width: 90%;
// 			background: green;
// 			margin-top: 2rem;
// 			margin-bottom: 2rem;
// 		}
// 	}
// }

.container-principal {
	width: 100%;
	display: flex;
	background: black;
	justify-content: center;
	.container-secondaire {
		width: 98%;
		background: red;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 100px;
		margin-bottom: 100px;
		.container-contenu-1 {
			width: 95%;
			background: green;
			// margin-top: 2rem;
			margin-bottom: 2rem;
			padding: 0.5rem;
		}
		.container-contenu-2 {
			width: 100%;
			background: yellow;
		}
	}
}
